---
attendants:
- person: 'Michał Łomnicki'
  contact: 'mlomnicki'
  organizer: true
- person: 'Patrycja Hudziak'
  contact: ''
  organizer: false
- person: 'Tomasz Nazar'
  contact: '@nthx17'
  organizer: false
- person: 'Monika'
  contact: ''
  organizer: false
- person: 'Ania'
  contact: ''
  organizer: false
- person: 'Mati'
  contact: ''
  organizer: false
- person: 'Robert Pankowecki'
  contact: 'robert.pankowecki@gmail.com'
  organizer: false
- person: 'Marta Bartczak-Pankowecka'
  contact: ''
  organizer: false
---

<h2 id="attendants">Attendants</h2>
<h3>Add your name to the list only if you already booked and payed</h3>
<p>
  <table>
    <tr>
      <th>Person</th>
      <th>Contact</th>
      <th>Organizer</th>
    </tr>
    <% item[:attendants].each do |a| %>
    <tr>
      <td>
        <%= a[:person] %>
      </td>
      <td>
        <%= a[:contact] %>
      </td>
      <td>
        <% if a[:organizer] %>
          ✓
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</p>
