---
work:
- trainer: 'Michał Łomnicki'
  subject: 'Poker'
  attendants: ['Robert Pankowecki']
- trainer: 'Michał Łomnicki'
  subject: 'Drinking like a gentleman'
  attendants: ['Robert Pankowecki']
- trainer: 'Radosław Jędryszczak'
  subject: 'RubyMotion'
  attendants: ['Michał Czyż']
- trainer: 'Andrzej Krzywda'
  subject: 'Single page applications'

---

<h2 id="work">Workshop</h2>
<p>
  <table>
    <tr>
      <th>Trainer</th>
      <th>Subject</th>
    </tr>
    <% item[:work].each do |w| %>
    <tr>
      <td>
        <%= w[:trainer] %>
      </td>
      <td>
        <%= w[:subject] %>
      </td>
    </tr>
    <% end %>
  </table>
</p>
